<ion-header>
  <ion-toolbar>
    <ion-title>Conversion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-img src="assets/logo_white_large.png"></ion-img>
        <p></p>
        <ion-title style="text-align: center; color: white; background: #eb2922;">CONVERSION</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form #addform="ngForm" (ngSubmit)="submit(addform)" >
    <ion-grid>
      <ion-row style="background: white;">
          <ion-col size="4"><ion-label for="devise" >Devise</ion-label></ion-col>
          <ion-col size="8"><ion-input type="text" class="form-control" id="devise" ngModel name="devise"></ion-input></ion-col>
      </ion-row>
      <ion-row style="background: white;">
          <ion-col size="4"><ion-label for="montant">Montant</ion-label></ion-col>
          <ion-col size="8"><ion-input type="text" class="form-control" id="montant" ngModel name="montant"></ion-input></ion-col>          
      </ion-row>
      <ion-row style="background: white;">
          <ion-col size="4"><ion-label for="res">Résultat</ion-label></ion-col>
          <ion-col size="8">{{resultat}}</ion-col>           
      </ion-row>
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="4"><ion-button type="submit">Convertir</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
