<ion-header>
  <ion-toolbar>
    <ion-title>espace agents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title style="text-align: center; color: white; background: #eb2922">ESPACE AGENT</ion-title>
      </ion-col>
    </ion-row>
    <ion-row   style="margin-top: 20%;">
      <ion-col>
        <ion-button style="width: 100%;" (click)="openMesClients()">Liste de mes clients</ion-button>
      </ion-col>
    </ion-row>
    <!--<ion-row>
      <ion-col>
        <ion-button style="width: 100%;" (click)="openClientsAttente()">Clients en attente</ion-button>
      </ion-col>
    </ion-row>-->
  </ion-grid>
</ion-content>
