<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <p>
    <ion-img
    src="/assets/logo_small.png"
    style="width: 75%; margin-left: auto; margin-right: auto"
  ></ion-img>
  </p>
  <p><ion-title style="text-align: center; color: white; background: red"
    >AUTHENTIFICATION</ion-title
  ></p>
  <form #addform="ngForm" (ngSubmit)="submit(addform)">
    <ion-grid>
      <ion-row class="form-group" style="background: whitesmoke">
        <ion-col size="4"> <ion-label for="login">Login </ion-label></ion-col>
        <ion-col size="8"
          ><ion-input
            type="text"
            class="form-control"
            id="login"
            ngModel
            name="login"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="form-group" style="background: whitesmoke">
        <ion-col size="4">
        <ion-label for="pwd">Mot de passe</ion-label></ion-col>
        <ion-col size="8"><ion-input
          type="text"
          class="form-control"
          id="pwd"
          ngModel
          name="pwd"
        ></ion-input></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="4"><ion-button type="submit" style>Se connecter</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
